  <div class="slds-grid slds-gutters">
  <div class="slds-col slds-size_2-of-3">
    <div class="slds-grid">
      <div class="slds-col slds-size_2-of-3">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="form-element-01">Type in amount and select currency:</label>
          <div class="slds-form-element__control">
            <input type="text" id="form-element-01" placeholder="0.00" class="slds-input" />
          </div>
        </div>
      </div>
      <div class="slds-col slds-size_1-of-3">
        <div class="slds-form-element slds-m-top_large">
          <select name="cars" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div>
      </div>
    </div>
    <div class="slds-grid">
      <div class="slds-col slds-size_2-of-3">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="form-element-02">Converted Amount:</label>
          <div class="slds-form-element__control">
            <input type="text" id="form-element-02" placeholder="0.00" class="slds-input" />
          </div>
        </div>
      </div>
      <div class="slds-col slds-size_1-of-3">
        <div class="slds-form-element slds-m-top_large">
          <select name="cars" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="slds-col slds-size_1-of-3">
  </div>
</div>
<router-outlet></router-outlet>
