<div class="slds-grid slds-gutters">
  <div class="slds-col slds-size_2-of-3">
    <div class="slds-grid">
      <div class="slds-col slds-size_2-of-3">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="form-element-01">Type in amount and select currency:</label>
          <div class="slds-form-element__control">
            <input type="number" id="form-element-01" (keyup)="baseCurrChange()" [(ngModel)]="currencyModel.baseCurr"
                   placeholder="0.00" class="slds-input"/>
          </div>
        </div>
      </div>
      <div class="slds-col slds-size_1-of-3">
        <div class="slds-form-element slds-m-top_large">
          <select [(ngModel)]='currencyModel.baseCurrName' name="baseCurrName" (change)="baseCurrChange()"
                  class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid">
            <option *ngFor="let curr of currencyList" [ngValue]='curr'>{{curr}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="slds-grid">
      <div class="slds-col slds-size_2-of-3">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="form-element-02">Converted Amount:</label>
          <div class="slds-form-element__control">
            <input type="number" id="form-element-02" disabled [(ngModel)]="currencyModel.targetCurr" placeholder="0.00"
                   class="slds-input"/>
          </div>
        </div>
      </div>
      <div class="slds-col slds-size_1-of-3">
        <div class="slds-form-element slds-m-top_large">
          <select [(ngModel)]='currencyModel.targetCurrName' name="targetCurrName" (change)="baseCurrChange()"
                  class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid">
            <option *ngFor="let curr of currencyList" [ngValue]='curr'>{{curr}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="slds-grid">
      <div class="slds-col slds-m-top_large" style="text-align: right">
        <span (click)="showDisclaimers()" style="cursor: pointer">Disclaimer</span>
      </div>
    </div>
  </div>
  <div class="slds-col slds-size_1-of-3">
  </div>
</div>

<div *ngIf="showDisclaimerModal" class="demo-only" style="height: 640px;">
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
           aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Disclaimer</h2>
      </header>
      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien nisi, volutpat id libero nec,
          efficitur aliquet augue. Nulla tempor lorem tortor, vitae posuere turpis sollicitudin sed. In commodo lacinia
          nulla, ac aliquam metus. Nullam accumsan dolor nec sodales dapibus.
        </p>
      </div>
      <footer class="slds-modal__footer">
        <button class="slds-button slds-button_brand" (click)="closeDisclaimers()">Close</button>
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</div>
<router-outlet></router-outlet>
